.search__container {
  display:flex;
  padding: 15px;
  align-items:center;
}

.search__input {
  flex: 1;
  font-size: 12px;
  border: 0;
  border-bottom: 1px solid #555;
  margin-right:4px;
  background-color:transparent;
  padding-top:5px;
  padding-bottom:5px;
}

.search__icon {
  font-size:12px;
}
