/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
  /*background-color:#fff;*/
  font-family:sans-serif;
}

body {
  margin:0;
  height:100vh;
  overflow:hidden;
}

input {
  outline: 0;
}

/*
* Header
*/

.header {
  position:relative;;
  top:0;
	border-bottom:1px solid #000;
  color:#fff;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index:10;
	background-color:#232323;
  padding: 0 12px;
}

.header__title {
  font-weight:100;
  font-size:1rem;
  margin:0;
  text-align:center;
}

.header__nav {
  font-size:12px;
}

.header__nav-item {
  display:inline-block;
  padding-left:15px;
}

.header__nav-item--secondary {
  color:#ccc;
}

/*
* Login
*/

main {
}

.main--login {
  height:calc(100vh - 40px);
  display:flex;
  align-items:center;
  justify-content:center;
}

.main--sidebar {
  display:flex;
}

.login {
  position:relative;
  color:#000;
  background-color: #fdfdfd;
  padding:12px;
  cursor:pointer;
}

.login:hover {
  background-color: #fff;
}

.login:hover:after {
  opacity:.8;
}

.login:after {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:.2;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,1);
  transition: all .3s;
}

.login__light {
  font-weight:100;
}

.blue {color:#4885ed;}
.yellow {color: #f4c20d;}
.green {color: #3cba54;}
.red {color: #db3236;}

/*
* Dashboard
*/

/*
* Conversation
*/

.conversation__list {
  padding:10px;
  width: calc(100% - 280px);
}

.conversation__container {
  /*width:300px;*/
  width:calc(50% - 1.25rem);
  box-shadow: 0px 0px 14px -2px rgba(0,0,0,.8);
  display:inline-block;
  margin:.5rem;
}

.conversation__header {
  position:relative;
  display:flex;
  align-items:center;
  background-color: #348AC7;
  color:#fff;
  padding:12px;
  height:70px;
}

.conversation__header:hover .conversation__edit {
  display:block;
}

.conversation__icon {
  width:60px;
  height:60px;
}

.conversation__title-container {
  padding-left:10px;
}

.conversation__container--green .conversation__header, .conversation__container--green .conversation__message:before {background-color: #3cba54;}
.conversation__container--blue .conversation__header, .conversation__container--blue .conversation__message:before { background-color: #348AC7}
.conversation__container--purple .conversation__header, .conversation__container--purple .conversation__message:before { background-color: #CA157B }
.conversation__container--red .conversation__header, .conversation__container--red .conversation__message:before { background-color: #FC1A1A }
.conversation__container--yellow .conversation__header, .conversation__container--yellow .conversation__message:before { background-color: #FCDC1A }
.conversation__container--orange .conversation__header, .conversation__container--orange .conversation__message:before { background-color: #FCA11A }
.conversation__container--pink .conversation__header, .conversation__container--pink .conversation__message:before { background-color: #EE7499 }
.conversation__container--aqua .conversation__header, .conversation__container--aqua .conversation__message:before { background-color: #5EC0C0 }

.conversation__title {
  padding-bottom: 8px;
}

.conversation__icon {
background-image: url(http://static.giantbomb.com/uploads/square_small/16/164924/2602101-2463857318-bert-.jpg);
background-size: cover;
width:60px;
height:60px;
border-radius: 100%;
background-position: center;
background-size:cover;
}

/*.conversation__icon img {
  width:60px;
  border-radius:100%;
}*/

.conversation__detail {
  font-size: 10px;
  font-weight: 100;
  color: #eee;
  padding-bottom:2px;
}

.conversation__edit {
  display:none;
  cursor:pointer;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  position:absolute;
  bottom: 5px;
  right: 5px;
}

.conversation__message-container {
  padding:2rem;
  line-height:1.4;
  font-weight:100;
  font-size:14px;
}

.conversation__message {
  position:relative;
  padding-left:12px;
}

.conversation__message--client {
}

.conversation__message:before {
  content: '';
  width: 4px;
  background-color: #348AC7;
  display: block;
  position: absolute;
  top: 0;
  top: -10%;
  left: 0;
  height: 120%;
}

@keyframes typing {
    0% {
      top: -20%;
      height:0%;
      }
    50% {
      height: 60%;
    }
    100% {
      top: 110%;
      height: 0%;
    }
}

.conversation__message--typing:after {
  content: '';
  width: 4px;
  background-color: #fff;
  opacity:1;
  display: block;
  position: absolute;
  top: -20%;
  height:0%;
  left: 0;
  animation-name: typing;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

/*
* Sidebar
*/

.sidebar__container {
  width:280px;
  background-color:#f5f5f5;
  height: calc(100vh - 40px);
  color:#555;
}

.sidebar-conversation__item {
  display:flex;
  cursor:pointer;
  position:relative;
  color:#000;
  padding:12px 5px 12px 12px;
  transition:all .2s;
}

.sidebar-conversation__item--active {
  background-color:#3cba54;
  color: #fff;
}

.sidebar-conversation__item--active .sidebar-conversation__message {
  color:#ddd;
}

.sidebar-conversation__item:hover:not(.sidebar-conversation__item--active) {
  background-color:#fff;
}

.sidebar-conversation__item:before {
  content: '';
  width: 6px;
  height: 100%;
  background-color: #4885ed;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-conversation__item--green:before {
  background-color: #3cba54;
}
.sidebar-conversation__item--green .sidebar-conversation__image {
  background-image: url('../images/icons/oscar.png');
}

.sidebar-conversation__header {
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  width:100%;
  padding-right:4px;
}

.sidebar-conversation__time {
  font-size:10px;
  color:#ccc;
  padding-right:3px;
}

.sidebar-conversation__image {
  background-image: url(http://static.giantbomb.com/uploads/square_small/16/164924/2602101-2463857318-bert-.jpg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  display: inline-table;
}

.sidebar-conversation__content {
  padding-left: 10px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  width:100%;
}

.sidebar-conversation__message {
  font-weight: 100;
  font-size: 11px;
  color: #777;
  padding-top: 2px;
}

.sidebar-conversation__title {
    font-size: 15px;
    padding-bottom: 2px;
}

.sidebar-conversation__detail {
    padding: 10px;
    display: flex;
    align-items: baseline;
    font-size: 10px;
}

/*
* Conversation Single
*/

.single-convo__container {
  width: calc(100% - 280px);
  position:relative;
}

.single-convo__header {
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: calc(100vw - 270px);
  background-color:#fff;
}

/*
* Chat Form
*/

.chat-form {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  align-items:center;
  background-color:#fff;
  border-top:1px solid #eee;
  color:#333;
}

.chat-form__submit {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  color: #55a;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
  padding-left:5px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
  padding-left:5px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
  padding-left:5px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
  padding-left:5px;
}



/*
* Chat Expandable Input
*/

.chat-form__input {
  width:75%;
  margin:10px;
  position:relative;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #ddd;
  padding-left:5px;
}

.chat-form__input > #chat-form__textarea,
.chat-form__input > pre {
  padding: 5px;
  background: transparent;
  font: 300 13px/16px 'Open Sans', arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
  color:#333;
  outline:none;
}

.chat-form__input > #chat-form__textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
	cursor:text;
  /* This height is used when JS is disabled */
  /*height: 100px;*/
}

.chat-form__input.active > #chat-form__textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.chat-form__input > pre {
  display: none;
}
.chat-form__input.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

/*
* Chat Message
*/

.chat-message__container {
  width: calc(100% - 280px);
  position:relative;
}

.chat-message__messages {
  width: 80%;
  margin: 0 auto;
}

.chat-message__messages--wide {
	padding-top: 40px;
	height: calc(100vh - 85px);
	overflow: auto;
	width: 100%;
	margin: 0 auto;
	padding: 40px 10% 0;
	box-sizing: border-box;
}

.chat-message__header {
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: calc(100vw - 270px);
  background-color:#fff;
}

.chat-message {
  margin: 10px;
  padding: 16px;
  max-width:75%;
  border-radius:4px;
  font-weight:300;
  font-size:12px;
  line-height:1.4;
  clear:both;
}

.chat-message--client{
  float:right;
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#fff;
}
.chat-message--admin{
  background-color:#ededed;
  float:left;
}
.chat-message--intro {
  text-align: center;
  color: #777;
  line-height: 1.4;
}

/*
* Search
*/

.search__container {
  display:flex;
  padding: 15px;
}

.search__input {
  flex: 1;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #555;
  margin-right:4px;
  background-color:transparent;
}

.search__icon {

}

/*
* Utility classes
*/

.bg-green {
  background: #3cba54;
}
